:root {
  --color-brand: #2b7fff;
  --primary-color: #011c44;
  --background-color: #ffffff;
  --privacy-color: #747272;
  --font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Play', sans-serif;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
