.advantages-section {
  &__wave {
    background: url(../images/advantages-wave.png);
    background-position: 45% top;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -180px;
    padding-top: 180px;

    @media screen and (min-width: $bp-desktop) {
      background-size: 100% 100%;
    }
  }

  &__title {
    color: var(--primary-color);
    font-family: var(--secondary-font-family);
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
    line-height: 100%;

    @media screen and (min-width: 1280px) {
      font-size: 64px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1280px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 56px;
    }
  }
}
